*{
    margin: 0;
    padding: 0;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    color:#7D0A0A;
    font-size: 8vmin;
    background-color: #f7e8b2;
}

body{
    background-color: #1F8A70;
    text-align: center;
}
.container{
    display: flex;
       height: 70vh;
       justify-content: center;
}
.game{
    margin: 10px 10px 10px 10px;
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;   
}
.reset{
    height: 30px;
    width: 60px;
    border: none;
    border-radius: 5px;
    color: #00425A;
    background-color: #BFDB38;
}
.new{
    margin-top: 5px;
    height: 6vmin;
    width:  25vmin;
    border-radius: 1rem;
    border: none;
    color:#BFDB38;
    font-size: 1rem;
    background-color: black;
}
.msg-container{
    height: 100vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem ;
    flex-direction: column;
    
}
p{
    color: white;
    font-size: 5vmin;
}
.hide{
    display: none;
}


@media (min-width:320px) and (max-width: 480px) {
    .game {
        width: 80vw;
        height: 80vw;
        gap: 5px;
    }

    .box {
        font-size: 1.5rem;
    }

    button {
        width: 90%;
        font-size: 1rem;
    }
}